# Nuxt dev/build outputs
.output
.data
.wrangler
.nuxt
.nitro
.cache
dist
*.tzst

# Node dependencies
node_modules

# Logs
logs
*.log

# Runtime data
runs/

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# VSC
.history

# tmp
tmp
