# Nuxt dev/build outputs
.output
.data
.wrangler
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log
!deploy/logs

# Runtime data
runs/

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# VSC
.history

# tmp
tmp

# 配音文件
*.opus
*.mp3

# 压缩包
*.zip
*.tzst
