{
	debug
	storage file_system {
		root /var/lib/caddy
	}

	log {
		output file /var/log/caddy/caddy.jsonl {
			mode 640
			roll_size 10MiB
			roll_keep 30
			roll_keep_for 30d
		}
		# 即使是用 console 格式输出，内容也是 json 格式，所以还不如直接输出 json
		format json {
			time_format iso8601
		}
		level DEBUG
	}
}

{$CADDY_DOMAIN} {
	@xrws {
		header Upgrade websocket
		header Connection *Upgrade*
		path /abbasid #与 VLESS+WebSocket 应用中 path 对应
	}
	reverse_proxy @xrws 127.0.0.1:2222 #转发给本机 VLESS+WebSocket 监听进程

	reverse_proxy :3000

	log {
		output file /var/log/caddy/{$NUXT_SITE_NAME}.jsonl {
			mode 640
			roll_size 10MiB
			roll_keep 100
			roll_keep_for 90d
		}
		# 即使是用 console 格式输出，内容也是 json 格式，所以还不如直接输出 json
		format json {
			time_format iso8601
		}
		level DEBUG
	}
}
