[Unit]
Description=PiChat
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/node --env-file=%h/Documents/PiChat/.env %h/Documents/PiChat/.output/server/index.mjs
# 工作目录
WorkingDirectory=%h/Documents/PiChat
# node 崩溃后重启
RestartSec=10
Restart=always
# 输出日志
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=PiChat
SyslogFacility=local4
SyslogLevel=debug

[Install]
WantedBy=default.target
